<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mars Data</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="/static/css/agency.min.css" rel="stylesheet">
    <style>
        header.masthead {
            text-align: center;
            color: white;
            background-image: url("{{stuff.feat_image}}");
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: center center;
            background-size: cover;
        }
    </style>
</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Mars, the red planet</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/scrape">Scrape</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Mars!</div>
                <div class="intro-heading text-uppercase">All the data about the red planet</div>
            </div>
        </div>
    </header>

    <!-- Services -->
    <section class="page-section" id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Fun facts</h2>
                    <h3 class="section-subheading text-muted">Lastest news and weather</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h4 class="service-heading">Weather</h4>
                    <p class="text-muted">{{stuff.mars_weather[0]}}</p>
                </div>
                <div class="col-md-4">

                    <h4 class="service-heading">News: {{stuff.news_titles[0]}}</h4>
                    <p class="text-muted">{{stuff.news_paragraphs[0]}}</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">News: {{stuff.news_titles[1]}}</h4>
                    <p class="text-muted">{{stuff.news_paragraphs[0]}}</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid -->
    <section class="bg-light page-section" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Mars hemispheres</h2>
                    <h3 class="section-subheading text-muted">All 4 of them!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">


                    <img class="img-fluid" src="{{stuff.hemis_images[0].img_url}}" alt="">

                    <div class="portfolio-caption">
                        <h4>{{stuff.hemis_images[0].title}}</h4>
                        <p class="text-muted">Nice!</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">

                    <img class="img-fluid" src="{{stuff.hemis_images[1].img_url}}" alt="">

                    <div class="portfolio-caption">
                        <h4>{{stuff.hemis_images[1].title}}</h4>
                        <p class="text-muted">Great!</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">

                    <img class="img-fluid" src="{{stuff.hemis_images[2].img_url}}" alt="">

                    <div class="portfolio-caption">
                        <h4>{{stuff.hemis_images[2].title}}</h4>
                        <p class="text-muted">Neat!</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">

                    <img class="img-fluid" src="{{stuff.hemis_images[3].img_url}}" alt="">

                    <div class="portfolio-caption">
                        <h4>{{stuff.hemis_images[3].title}}</h4>
                        <p class="text-muted">Cool!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Table, because reasons -->
    <section class="bg-light page-section" id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Data table</h2>
                    <h3 class="section-subheading text-muted">This is a one man army!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="table-responsive-lg">
                        {{otherstuff}}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Team -->
    <section class="bg-light page-section" id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Our Amazing Team (Me)</h2>
                    <h3 class="section-subheading text-muted">This is a one man army!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="/static/img/team/aldo.jpg" alt="">
                        <h4>Aldo G. Sancininea</h4>
                        <p class="text-muted">CEO, CFO, CTO, Designer, Programmer and Official pet</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="https://twitter.com/sancininea">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/sancininea">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/in/aldo-gonzález-sancininea-5aa58653/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- Contact -->
    <section class="page-section" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Contact Us</h2>
                    <h3 class="section-subheading text-muted">Err... better not, we don't answer... ever!</h3>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Tec Bootcamp - Data analytics 2019</span>
                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item">
                            Privacy Policy
                        </li>
                        <li class="list-inline-item">
                            Terms of Use
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="/static/js/jqBootstrapValidation.js"></script>
    <script src="/static/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/js/agency.min.js"></script>

</body>

</html>